<%-include('partials/header');-%>

<div class="container">
  <div class="formBox">

    <div class="boxHeading">
      <h4>Result</h4>
    </div>
    <hr>
    <div class="resultText">
      <h5>The Machine Learning Model Predicts :</h5>
      <h6><%=resultVal_html%></h6>
      <hr>
      <p>Results are 88% accurate</p>
    </div>
  </div>
</div>

<%-include('partials/footer');-%>
