</div>
<footer class="footer">
  <div class="footer-item">
    <div class=" d-flex justify-content-center">
      <a class="nav-item nav-link" href="https://www.kaggle.com/uciml/pima-indians-diabetes-database">Data Used</a>
      <a class="nav-item nav-link" href="https://github.com/adarsh270699/Diabetes-Prediction">GitHub</a>
    </div>
    <p>Web application deployed as a part of 2020 summer internship project.</p>
  </div>
</footer>
</div>
</body>

</html>
