<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Diabetes Prediction</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <nav class="navbar navbar-light navbarMain">
        <span>
          <h2>Diabetes Prediction</h2>
        </span>
        <div class="d-flex justify-content-end">
          <a class="nav-item nav-link" href="/">Home</a>
        </div>
      </nav>
